aiohttp
aiosignal
annotated-types
anyio
asgiref
attrs
backoff
bcrypt
blinker
build
cachetools
certifi
cffi
charset-normalizer
chroma-hnswlib
chromadb
click
coloredlogs
cryptography
dataclasses-json
Deprecated
dnspython
email_validator
fastapi
fastapi-cli
fastembed
filelock
Flask
flatbuffers
frozenlist
fsspec
google-auth
googleapis-common-protos
grpcio
h11
httpcore
httptools
httpx
huggingface-hub
humanfriendly
idna
importlib_metadata
importlib_resources
itsdangerous
Jinja2
jsonpatch
jsonpointer
kubernetes
langchain
langchain-community
langchain-core
langchain-text-splitters
langsmith
loguru
markdown-it-py
MarkupSafe
marshmallow
mdurl
mmh3
monotonic
mpmath
multidict
mypy-extensions
numpy
oauthlib
onnx
onnxruntime
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orjson
overrides
packaging
pdfminer.six
pdfplumber
pillow
posthog
protobuf
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
Pygments
pypdfium2
PyPika
pyproject_hooks
PyStemmer
python-dateutil
python-dotenv
python-multipart
PyYAML
requests
requests-oauthlib
rich
rsa
setuptools
shellingham
six
sniffio
snowballstemmer
SQLAlchemy
starlette
sympy
tenacity
tokenizers
tqdm
typer
typing-inspect
typing_extensions
urllib3
uvicorn
watchfiles
websocket-client
websockets
Werkzeug
wrapt
yarl
zipp
langchain-ollama
langchain-chroma
langchain_core
flask_cors
datetime
logging
flask_pymongo
pymongo
bcrypt
PyJWT
python-docx 
openpyxl
transformers
docx2txt
langchain_community