<div class="section-group">
  <div class="card section">
    <app-document-upload
      (upload)="uploadDocument($event)"
      [isLoading]="isLoadingUpload"
    ></app-document-upload>
  </div>
</div>

<div class="section-group">
  <div class="card section">
    <app-document-list
      [documentList]="documentList"
      (delete)="deleteDocument($event.fileId, $event.filename, $event.type)"
      [isLoading]="isLoadingList"
    ></app-document-list>
  </div>
</div>

<div class="section-group">
  <div class="card section">
    <div class="clear-db-section">
      <h2>Database and File Management</h2>
      <p>
        Clear all stored data and uploaded files from the system. Use this
        carefully as it will delete all records.
      </p>
      <button
        class="primary"
        (click)="clearDatabase()"
        [disabled]="isClearingDatabase"
      >
        <app-spinner *ngIf="isClearingDatabase"></app-spinner>
        {{ isClearingDatabase ? " Clearing..." : "Clear Database" }}
      </button>
    </div>
  </div>
</div>

<div class="section-group">
  <div class="card section">
    <app-document-statistics
      [pdfCount]="documentStatistic.pdf_count"
      [docxCount]="documentStatistic.docx_count"
      [csvCount]="documentStatistic.csv_count"
      [xlsxCount]="documentStatistic.xlsx_count"
    ></app-document-statistics>
  </div>
</div>

<div class="section-group">
  <div class="card section">
    <h2>Document Statistics</h2>
    <p>Total Documents in Chroma DB: {{ documentStatistic.doc_count }}</p>
  </div>
</div>

<div class="navigation">
  <a routerLink="/home" class="button">Back to Home</a>
</div>